<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-0">
      <div class="brand">
        <a href="/"><img src="/assets/images/logo.png"></a>
      </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-7">
      <div class="logo">
        <a href="http://www.usatoday.com" target="_blank" ><img ng-src="assets/images/usatoday.jpg"></a>
      </div>
      <div class="logo">
        <a href="http://www.cnn.com" target="_blank" ><img ng-src="assets/images/CNN.png"></a>
      </div>
      <div class="logo">
        <a href="http://www.foxnews.com" target="_blank" ><img ng-src="assets/images/fox.png"></a>
      </div>
      <div class="logo">
        <a href="http://www.abcnews.com" target="_blank" ><img ng-src="assets/images/photo.jpg"></a>
      </div>
      <div class="logo">
        <a href="http://www.bbc.co.uk" target="_blank" ><img ng-src="assets/images/bbcnews.png"></a>
      </div>
    </div>
  </div>
</div>
