<div class="container-fluid">
  <div class="row">

    <!--- FORMULAIRE HEADER ------------------------->
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 header-form">
      <form name="form" ng-submit="search()">
        <div class="input-group">
          <input class="form-control" type="text" name="userSearch" placeholder="Rechercher" ng-model="userSearch" ng-pattern="regex" required>
          <span class="input-group-btn"><input class="btn btn-default" type="submit" value="Rechercher"></span>
        </div>

        <!--- MESSAGES D'ERREUR FORMULAIRE -------->
        <div class="flash bg-danger" ng-if="flash">{{flash}}</div>
      </form>
    </div>

  </div>
  <div class="row">

    <!--- NAVBAR ---------------------------------->
    <div class="col-xs-12" id="col-navbar" ng-include="'views/partials/navbar.html'"></div>
  </div>
</div>

<!--- ARTICLE ------------------------------>
<div class="container-fluid container-article">
  <div class="row">

    <div class="col-xs-12">
      <div class="article">
        <h2 class="h3">{{article.thread.site}}</h2>
        <div class="clearfix">
          <img ng-src="{{article.thread.main_image}}" class="pull-right image-responsive" alt="" image-fixer style="background-size:cover!important; width:100%!important;" >
        </div>

        <h2 class="h3" id="h2-article-2">{{article.thread.title}}</h2>

        <p id="p-article">{{article.text}}</p>
      </div>

    </div>

  </div>
</div>
